/* Fonts */

@font-face {
    font-family: 'Open Sans';
    src: url(https://www.mozilla.org/media/fonts/OpenSans-Regular-webfont.eot?#iefix2013) format('embedded-opentype'),
         url(https://www.mozilla.org/media/fonts/OpenSans-Regular-webfont.woff?2013) format('woff'),
         url(https://www.mozilla.org/media/fonts/OpenSans-Regular-webfont.ttf?2013) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url(https://www.mozilla.org/media/fonts/OpenSans-Bold-webfont.eot?#iefix2013) format('embedded-opentype'),
         url(https://www.mozilla.org/media/fonts/OpenSans-Bold-webfont.woff?2013) format('woff'),
         url(https://www.mozilla.org/media/fonts/OpenSans-Bold-webfont.ttf?2013) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url(https://www.mozilla.org/media/fonts/OpenSans-Italic-webfont.eot?#iefix2013) format('embedded-opentype'),
         url(https://www.mozilla.org/media/fonts/OpenSans-Italic-webfont.woff?2013) format('woff'),
         url(https://www.mozilla.org/media/fonts/OpenSans-Italic-webfont.ttf?2013) format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Main structure */

html,
body {
    height: 100%;
}

body {
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #333;
    background: #f1efe8;
    margin: 0;
    padding: 0;
}

#wrapper {
    padding: 50px 20px;
    min-width: 800px;
}

#outer-wrapper {
    background: url(../img/sandstone/bg-gradient-sand.png) repeat-x 0 0,
                url(../img/sandstone/bg-sand.png) repeat 0 0,
                #f5f1e8;
    height: 100%;
}

a {
    color: #0096dd;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #0073aa;
    text-decoration: underline;
}

h1 {
    margin-bottom: 40px;
    margin-top: -40px;
    font-size: 30px;
    max-width: 500px;
}

h1 span {
    display: inline-block;
    background-color: #faf8f2;
    border: 1px solid #9e988b;
    padding: 3px 10px;
    border-radius: 10px;
}

#back {
    background-color: #9e988b;
    border-radius: 0 0 20px 20px;
    box-shadow: 1px 1px 6px #4a412e;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0 20px;
    position: absolute;
    right: 10px;
    text-align: center;
    text-shadow: 1px 1px 4px #4a412e;
    top: 0;
}

#back a {
    color: #fff;
    font-weight: bold;
    display: block;
    width: 100%;
    height: 100%;
}

/* Tables */

table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  text-align: center;
}

td,
th {
    padding: 2px;
    border: 1px solid #ddd;
}

th {
    padding: 6px 10px;
    background-color: #f5f1e8;
}

caption.filename {
    font-size: 18px;
    font-weight: bold;
    background-color: #f5f1e8;
    padding: 6px;
}

.count_complete {
    color: #ddd;
}

.tags_cell {
    text-align: left;
    font-size: 11px;
}

.activated_cell {
    background-color: #92cc6e;
    color: #92cc6e;
}

.lightlink_cell a {
    color: #c7edff;
}

.linklocale_cell a {
    font-weight: bold;
}

tfoot td {
    background-color: #f5f1e8;
}

tr.tabletotals {
    font-weight: bold;
}

tr.tabletotals th {
    background-color: #fff;
}

/* View: listsitesforlocale */

.website_container {
    border: 1px solid #78756f;
    margin: 0 0 10px 0;
    padding: 0 10px;
    background-color: #faf8f2;
}

.file_done {
    display: inline-block;
    color: #FFF;
    background: #78756f;
    padding: 5px;
    margin: 2px;
}

.file_activated {
    border-right: 8px solid #92cc6e;
}

.file_notactivated {
    border-right: 8px solid #ff5252;
}

.file_notutf8:after {
    content: " (Not in UTF-8 !)";
    color: #ffbd52;
    font-weight: bold;
}

.file_container {
    background-color: #fff;
    padding: 5px;
}

.file_container .filename {
    display: inline-block;
    margin: 0 0 10px 0;
    padding: 2px 1em;
    text-align: center;
    min-width: 11em;
    background-color: #78756f;
    color: #fff;
    font-size: 120%;
}

.file_container .filename a:link,
.file_container .filename a:visited,
.file_container .filename a:hover,
.file_container .filename a:active
{
    color: #fff;
}

.file_container .sidetable {
    float: right;
    margin: 0 0 20px 20px;
}

table.python {
    margin-bottom: 20px;
}

table.python th,
table.python td {
    text-align: left;
}

table.python td em {
    color: #fff;
    background-color: #92cc6e;
    font-style: normal;
    border-radius: 3px;
    padding: 0 10px;
}

div.tip {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px 0 10px 30px;
    background-color: #ffffe0;
}

code {
    color: #808080;
    font-family: monospace;
}

div.tip blockquote {
    color: #00f;
    color: rgba(80, 80, 80, 1)
}

.datasource {
    font-size: 12px;
    padding: 0.2em 0.4em;
    border-radius: 0.25em;
    margin: 0 6px;
    display: inline-block;
    background: #9e988b;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    top: -10px;
}

.rawfiles {
    margin-bottom: 10px;
}

.rawfiles td {
    padding: 2px 6px;
}

.rawfiles .maincolumn {
    text-align: left;
}

.rawfiles .rawstatus {
    font-weight: bold;
    text-transform: uppercase;
}

.rawfiles .untranslated {
    color: #ff5b52;
}

.rawfiles .outdated {
    color: #ffbd52;
}

.rawfiles .missing_reference,
.rawfiles .missing_locale {
    color: #82817f;
}

.rawfiles .ok {
    color: #92cc6e;
}

.rawfiles .last_update {
    font-size: 80%;
}

/* List pages */

.listpages tr td:first-child {
    text-align: left;
    min-width: 250px;
    padding: 2px 6px;
}

/* Translate page */

.tag,
.taglist {
    font-size: 75%;
    padding: 0.2em 0.6em;
    border-radius: 0.25em;
    margin: 0 10px;
}

.taglist {
    margin: 0 2px;
}

.donelocales_cell {
    text-align: left;
    font-style: italic;
    color: #808080;
}

.translations td {
    text-align: left;
}

.translations th {
    width: 5em;
}

.odd_row {
    background-color: #fff;
}

.even_row {
    background-color: #faf6ed;
}

/* List locales */

#locales {
    -moz-column-count: 6;
    -webkit-column-count: 6;
    -ms-column-count: 6;
    column-count: 6;
    width: 80%;
}

/* action=count */

#count_summary {
    margin-top: 1em;
}

#count_summary th,
#count_summary td {
    margin: 0 1em;
}

#count_summary td + td {
    text-align: left;
    word-spacing: 0.3em;
}

#count_summary td:nth-child(3) {
    max-width: 30em;
}

#count_summary .help {
    cursor: help;
}
